<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateItemLocationTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateItemLocationLabel_itemLocationPK_location}" for="itemLocationPK_location" />
                    <h:inputText id="itemLocationPK_location" value="#{itemLocationController.selected.itemLocationPK.location}" title="#{bundle.CreateItemLocationTitle_itemLocationPK_location}" required="true" requiredMessage="#{bundle.CreateItemLocationRequiredMessage_itemLocationPK_location}"/>
                    <h:outputLabel value="#{bundle.CreateItemLocationLabel_itemLocationPK_itemid}" for="itemLocationPK_itemid" />
                    <h:inputText id="itemLocationPK_itemid" value="#{itemLocationController.selected.itemLocationPK.itemid}" title="#{bundle.CreateItemLocationTitle_itemLocationPK_itemid}" required="true" requiredMessage="#{bundle.CreateItemLocationRequiredMessage_itemLocationPK_itemid}"/>
                    <h:outputLabel value="#{bundle.CreateItemLocationLabel_itemLocationPK_sublocation}" for="itemLocationPK_sublocation" />
                    <h:inputText id="itemLocationPK_sublocation" value="#{itemLocationController.selected.itemLocationPK.sublocation}" title="#{bundle.CreateItemLocationTitle_itemLocationPK_sublocation}" required="true" requiredMessage="#{bundle.CreateItemLocationRequiredMessage_itemLocationPK_sublocation}"/>
                    <h:outputLabel value="#{bundle.CreateItemLocationLabel_contact}" for="contact" />
                    <h:inputText id="contact" value="#{itemLocationController.selected.contact}" title="#{bundle.CreateItemLocationTitle_contact}" />
                    <h:outputLabel value="#{bundle.CreateItemLocationLabel_quantity}" for="quantity" />
                    <h:inputText id="quantity" value="#{itemLocationController.selected.quantity}" title="#{bundle.CreateItemLocationTitle_quantity}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{itemLocationController.create}" value="#{bundle.CreateItemLocationSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{itemLocationController.prepareList}" value="#{bundle.CreateItemLocationShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateItemLocationIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
