<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <style>
        #search{
            margin: 0 25% 0 25%;
            
            float: right;
        }
        
        
    </style>
    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListItemLocationTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                
                <!--Beginning of additional code-->
                <!--When no items are found-->
                <h:panelGroup rendered="#{itemLocationController.items.rowCount == 0}">
                    <h:outputText escape="false" value="#{bundle.ListItemLocationEmpty}"/>
                    <h:commandLink action="#{itemLocationController.backToItemLocation()}" 
                               value="Item Location"/>&nbsp;
                    <h:link outcome="/index" value="#{bundle.ListItemLocationIndexLink}" />&nbsp; 
                </h:panelGroup>
                
                
               
                <h:panelGroup rendered="#{itemLocationController.items.rowCount > 0}">
                    <h:panelGroup rendered="#{ itemLocationController.search()==0}">
                        <h:outputText value="#{itemLocationController.pagination.pageFirstItem + 1}
                                      ..#{itemLocationController.pagination.pageLastItem + 1}/
                                      #{itemLocationController.pagination.itemsCount}"/>&nbsp;
                        <h:commandLink action="#{itemLocationController.previous}" 
                                       value="#{bundle.Previous} #{itemLocationController.pagination.pageSize}" 
                                       rendered="#{itemLocationController.pagination.hasPreviousPage}"/>&nbsp;
                        <h:commandLink action="#{itemLocationController.next}" 
                                       value="#{bundle.Next} #{itemLocationController.pagination.pageSize}" 
                                       rendered="#{itemLocationController.pagination.hasNextPage}"/>&nbsp; 
                    </h:panelGroup>
                    
                    
                    
                    <!--Search next previous etc-->
                    <h:panelGroup rendered="#{ itemLocationController.search()==1}">
                        <h:outputText value="#{itemLocationController.first()+ 1}..
                                      #{itemLocationController.last()}/
                                      #{itemLocationController.listLength()}"/>&nbsp;
                        <h:commandLink action="#{itemLocationController.previousSearchItems()}" 
                                       value="#{bundle.Previous} #{itemLocationController.pagination.pageSize}" 
                                       rendered="#{itemLocationController.searchHasPrevious()}"/>&nbsp;
                        <h:commandLink action="#{itemLocationController.nextSearchItems()}" 
                                       value="#{bundle.Next} #{itemLocationController.pagination.pageSize}" 
                                       rendered="#{itemLocationController.searchHasNext()}"/>&nbsp; 
                    </h:panelGroup>
                    <h:commandLink action="#{itemLocationController.prepareCreate}" 
                                   value="#{bundle.ListItemLocationCreateLink}" 
                                   rendered="#{itemLocationController.isAdmin() == true}"/>&nbsp; 
           
                                 &nbsp; 
                    <h:commandLink action="#{itemLocationController.backToItemLocation()}" 
                                   value="Item Location" />&nbsp; 
                    <h:link outcome="/index" value="#{bundle.ListItemLocationIndexLink}" />&nbsp;
                    
                
                <br></br>
                <!--SEARCH-->
                
                <br>
                    
                    <h:panelGroup id="search">
                        <h:inputText value="#{sublocation}" size="15" p:placeholder="Sublocation" 
                                 styleClass="sublocation"/> &nbsp;
                    <h:inputText value="#{location}" size="15" p:placeholder="Location" 
                                 styleClass="location"/>&nbsp;
                    <h:inputText value="#{itemid}" size="15" p:placeholder="Item ID" 
                                 styleClass="itemid"/>&nbsp;
                    <h:inputText value="#{contact}" size="15" p:placeholder="Contact" 
                                 styleClass="contact"/>&nbsp;
                    <h:inputText value="#{quantity}" size="15" p:placeholder="Quantity" 
                                 styleClass="quantity"/>&nbsp;
                    
                    <h:commandButton value="Search" 
                                     action="#{itemLocationController.searchItemLocation(
                                               sublocation, location, itemid, 
                                               contact, quantity)}"  styleClass="searchButton"/> 
                    </h:panelGroup>
                    
                </br>
                
                <!--End of additional code-->
                
                
                
                
                
                
                
                
                
                
                    
                    <h:dataTable value="#{itemLocationController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListItemLocationTitle_itemLocationPK_sublocation}"/>
                            </f:facet>
                            <h:outputText value="#{item.itemLocationPK.sublocation}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListItemLocationTitle_itemLocationPK_location}"/>
                            </f:facet>
                            <h:outputText value="#{item.itemLocationPK.location}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListItemLocationTitle_itemLocationPK_itemid}"/>
                            </f:facet>
                            <h:outputText value="#{item.itemLocationPK.itemid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListItemLocationTitle_contact}"/>
                            </f:facet>
                            <h:outputText value="#{item.contact}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListItemLocationTitle_quantity}"/>
                            </f:facet>
                            <h:outputText value="#{item.quantity}"/>
                        </h:column>
                        <h:column rendered="#{itemLocationController.isAdmin() == true}">
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{itemLocationController.prepareView}" value="#{bundle.ListItemLocationViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{itemLocationController.prepareEdit}" value="#{bundle.ListItemLocationEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{itemLocationController.destroy}" value="#{bundle.ListItemLocationDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
