<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateTransactionsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateTransactionsLabel_transactionID}" for="transactionID" />
                    <h:inputText id="transactionID" value="#{transactionsController.selected.transactionID}" title="#{bundle.CreateTransactionsTitle_transactionID}" required="true" requiredMessage="#{bundle.CreateTransactionsRequiredMessage_transactionID}"/>
                    <h:outputLabel value="#{bundle.CreateTransactionsLabel_partID}" for="partID" />
                    <h:inputText id="partID" value="#{transactionsController.selected.partID}" title="#{bundle.CreateTransactionsTitle_partID}" required="true" requiredMessage="#{bundle.CreateTransactionsRequiredMessage_partID}"/>
                    <h:outputLabel value="#{bundle.CreateTransactionsLabel_userID}" for="userID" />
                    <h:inputText id="userID" value="#{transactionsController.selected.userID}" title="#{bundle.CreateTransactionsTitle_userID}" required="true" requiredMessage="#{bundle.CreateTransactionsRequiredMessage_userID}"/>
                    <h:outputLabel value="#{bundle.CreateTransactionsLabel_locationID}" for="locationID" />
                    <h:inputText id="locationID" value="#{transactionsController.selected.locationID}" title="#{bundle.CreateTransactionsTitle_locationID}" />
                    <h:outputLabel value="#{bundle.CreateTransactionsLabel_subLocation}" for="subLocation" />
                    <h:inputText id="subLocation" value="#{transactionsController.selected.subLocation}" title="#{bundle.CreateTransactionsTitle_subLocation}" />
                    <h:outputLabel value="#{bundle.CreateTransactionsLabel_signOut}" for="signOut" />
                    <h:inputText id="signOut" value="#{transactionsController.selected.signOut}" title="#{bundle.CreateTransactionsTitle_signOut}" />
                    <h:outputLabel value="#{bundle.CreateTransactionsLabel_signIn}" for="signIn" />
                    <h:inputText id="signIn" value="#{transactionsController.selected.signIn}" title="#{bundle.CreateTransactionsTitle_signIn}" />
                    <h:outputLabel value="#{bundle.CreateTransactionsLabel_date}" for="date" />
                    <h:inputText id="date" value="#{transactionsController.selected.date}" title="#{bundle.CreateTransactionsTitle_date}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateTransactionsLabel_comment}" for="comment" />
                    <h:inputText id="comment" value="#{transactionsController.selected.comment}" title="#{bundle.CreateTransactionsTitle_comment}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{transactionsController.create}" value="#{bundle.CreateTransactionsSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{transactionsController.prepareList}" value="#{bundle.CreateTransactionsShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateTransactionsIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
