<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTransactionsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTransactionsLabel_transactionID}"/>
                    <h:outputText value="#{transactionsController.selected.transactionID}" title="#{bundle.ViewTransactionsTitle_transactionID}"/>
                    <h:outputText value="#{bundle.ViewTransactionsLabel_partID}"/>
                    <h:outputText value="#{transactionsController.selected.partID}" title="#{bundle.ViewTransactionsTitle_partID}"/>
                    <h:outputText value="#{bundle.ViewTransactionsLabel_userID}"/>
                    <h:outputText value="#{transactionsController.selected.userID}" title="#{bundle.ViewTransactionsTitle_userID}"/>
                    <h:outputText value="#{bundle.ViewTransactionsLabel_locationID}"/>
                    <h:outputText value="#{transactionsController.selected.locationID}" title="#{bundle.ViewTransactionsTitle_locationID}"/>
                    <h:outputText value="#{bundle.ViewTransactionsLabel_subLocation}"/>
                    <h:outputText value="#{transactionsController.selected.subLocation}" title="#{bundle.ViewTransactionsTitle_subLocation}"/>
                    <h:outputText value="#{bundle.ViewTransactionsLabel_signOut}"/>
                    <h:outputText value="#{transactionsController.selected.signOut}" title="#{bundle.ViewTransactionsTitle_signOut}"/>
                    <h:outputText value="#{bundle.ViewTransactionsLabel_signIn}"/>
                    <h:outputText value="#{transactionsController.selected.signIn}" title="#{bundle.ViewTransactionsTitle_signIn}"/>
                    <h:outputText value="#{bundle.ViewTransactionsLabel_date}"/>
                    <h:outputText value="#{transactionsController.selected.date}" title="#{bundle.ViewTransactionsTitle_date}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewTransactionsLabel_comment}"/>
                    <h:outputText value="#{transactionsController.selected.comment}" title="#{bundle.ViewTransactionsTitle_comment}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{transactionsController.destroyAndView}" value="#{bundle.ViewTransactionsDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTransactionsEditLink}"/>
                <br />
                <h:commandLink action="#{transactionsController.prepareCreate}" value="#{bundle.ViewTransactionsCreateLink}" />
                <br />
                <h:commandLink action="#{transactionsController.prepareList}" value="#{bundle.ViewTransactionsShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTransactionsIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
