<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditItemSystemTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditItemSystemLabel_itemSystemPK_system}" for="itemSystemPK_system" />
                    <h:inputText id="itemSystemPK_system" value="#{itemSystemController.selected.itemSystemPK.system}" title="#{bundle.EditItemSystemTitle_itemSystemPK_system}" required="true" requiredMessage="#{bundle.EditItemSystemRequiredMessage_itemSystemPK_system}"/>
                    <h:outputLabel value="#{bundle.EditItemSystemLabel_itemSystemPK_subSystem}" for="itemSystemPK_subSystem" />
                    <h:inputText id="itemSystemPK_subSystem" value="#{itemSystemController.selected.itemSystemPK.subSystem}" title="#{bundle.EditItemSystemTitle_itemSystemPK_subSystem}" required="true" requiredMessage="#{bundle.EditItemSystemRequiredMessage_itemSystemPK_subSystem}"/>
                    <h:outputLabel value="#{bundle.EditItemSystemLabel_itemSystemPK_itemid}" for="itemSystemPK_itemid" />
                    <h:inputText id="itemSystemPK_itemid" value="#{itemSystemController.selected.itemSystemPK.itemid}" title="#{bundle.EditItemSystemTitle_itemSystemPK_itemid}" required="true" requiredMessage="#{bundle.EditItemSystemRequiredMessage_itemSystemPK_itemid}"/>
                </h:panelGrid>
                <h:commandLink action="#{itemSystemController.update}" value="#{bundle.EditItemSystemSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditItemSystemViewLink}"/>
                <br />
                <h:commandLink action="#{itemSystemController.prepareList}" value="#{bundle.EditItemSystemShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditItemSystemIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
