<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <style>
        table { 
        font: 1em/1.25 trebuchet ms, verdana, sans-serif;
        color: #333;
        font-family: Helvetica, Arial, sans-serif;
        width: fit-content; 
        border-collapse: collapse; border-spacing: 0; 
        margin-left: 0px;
        
        box-shadow: 0 0 .5em #CECCCC;

    }
    td {
        
    }
    #item {
        float: left;
        white-space: nowrap;
        overflow: hidden;
        width: fit-content;
        margin-left: 100px;
        margin-right: 10px;
        
        
    }
    #transaction {
        float: left;
        white-space: nowrap;
        overflow: hidden;
        width: fit-content;
        float: inside;
        position: absolute;
        z-index: 100;
        margin-left: 100px;
        
    }
    #itemSystem{
        
    }
    .header{
        font-weight: bold;
    }
        
        
    </style>
    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewItemsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            
            <h:panelGroup rendered="#{itemsController.signInOut()==false}">
                <h:form id="item">
                    <h:commandLink action="#{itemsController.setSignInOut()}" value="#{bundle.SignInOut}"/>
                    &nbsp;&nbsp;
                    <h:commandLink action="#{itemsController.destroyAndView}" value="#{bundle.ViewItemsDestroyLink}"/>
                    &nbsp;&nbsp;
                    <h:link outcome="Edit" value="#{bundle.ViewItemsEditLink}"/>
                    &nbsp;&nbsp;
                    <h:commandLink action="#{itemsController.prepareCreate}" value="#{bundle.ViewItemsCreateLink}" />
                    &nbsp;&nbsp;
                    <h:commandLink action="#{itemsController.prepareList}" value="#{bundle.ViewItemsShowAllLink}"/>
                    &nbsp;&nbsp;
                    <h:link outcome="/index" value="#{bundle.ViewItemsIndexLink}"/>
                    <h:panelGrid columns="2">
                        <h:outputText class="header" value="#{bundle.ViewItemsLabel_itemid}"/>
                        <h:outputText value="#{itemsController.selected.itemid}" title="#{bundle.ViewItemsTitle_itemid}"/>
                        <h:outputText class="header" value="#{bundle.ViewItemsLabel_itemname}"/>
                        <h:outputText value="#{itemsController.selected.itemname}" title="#{bundle.ViewItemsTitle_itemname}"/>
                        <h:outputText class="header" value="#{bundle.ViewItemsLabel_description}"/>
                        <h:outputText value="#{itemsController.selected.description}" title="#{bundle.ViewItemsTitle_description}"/>
                        <h:outputText class="header" value="#{bundle.ViewItemsLabel_modelnrMa}"/>
                        <h:outputText value="#{itemsController.selected.modelnrMa}" title="#{bundle.ViewItemsTitle_modelnrMa}"/>
                        <h:outputText class="header" value="#{bundle.ViewItemsLabel_notes}"/>
                        <h:outputText value="#{itemsController.selected.notes}" title="#{bundle.ViewItemsTitle_notes}"/>
                        <h:outputText class="header" value="#{bundle.ViewItemsLabel_storeuntil}"/>
                        <h:outputText value="#{itemsController.selected.storeuntil}" title="#{bundle.ViewItemsTitle_storeuntil}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText class="header" value="#{bundle.ViewItemsLabel_reevaluate}"/>
                        <h:outputText value="#{itemsController.selected.reevaluate}" title="#{bundle.ViewItemsTitle_reevaluate}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText class="header" value="#{bundle.ViewItemsLabel_minquantity}"/>
                        <h:outputText value="#{itemsController.selected.minquantity}" title="#{bundle.ViewItemsTitle_minquantity}"/>
                        <h:outputText class="header" value="#{bundle.ViewItemsLabel_units}"/>
                        <h:outputText value="#{itemsController.selected.units}" title="#{bundle.ViewItemsTitle_units}"/>
                        <h:outputText value="#{bundle.ViewItemsLabel_date}" class="header"/>
                        <h:outputText value="#{itemsController.selected.date}" title="#{bundle.ViewItemsTitle_date}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewItemsLabel_poNumber}" class="header"/>
                        <h:outputText value="#{itemsController.selected.poNumber}" title="#{bundle.ViewItemsTitle_poNumber}"/>
                        <h:outputText value="#{bundle.ViewItemsLabel_serialNum}" class="header"/>
                        <h:outputText value="#{itemsController.selected.serialNum}" title="#{bundle.ViewItemsTitle_serialNum}"/>
                        <h:outputText value="#{bundle.ViewItemsLabel_othernumber}" class="header"/>
                        <h:outputText value="#{itemsController.selected.othernumber}" title="#{bundle.ViewItemsTitle_othernumber}"/>
                    </h:panelGrid>
                    

                </h:form>
                <!--Item Location Table-->
                <c:set var="itemLocationQuery" value="#{itemLocationController.getSelecteditem(itemsController.selected.itemid)}" />

                <h:form>
                    <br />
                    <h:panelGrid columns="2">
                        <h:outputText value="#{bundle.ViewItemLocationLabel_itemLocationPK_location}" class="header"/>
                        <h:outputText value="#{itemLocationQuery.itemLocationPK.location}" title="#{bundle.ViewItemLocationTitle_itemLocationPK_location}"/>
                        <h:outputText value="#{bundle.ViewItemLocationLabel_itemLocationPK_itemid}" class="header"/>
                        <h:outputText value="#{itemLocationQuery.itemLocationPK.itemid}" title="#{bundle.ViewItemLocationTitle_itemLocationPK_itemid}"/>
                        <h:outputText value="#{bundle.ViewItemLocationLabel_itemLocationPK_sublocation}" class="header"/>
                        <h:outputText value="#{itemLocationQuery.itemLocationPK.sublocation}" title="#{bundle.ViewItemLocationTitle_itemLocationPK_sublocation}"/>
                        <h:outputText value="#{bundle.ViewItemLocationLabel_contact}" class="header"/>
                        <h:outputText value="#{itemLocationQuery.contact}" title="#{bundle.ViewItemLocationTitle_contact}"/>
                        <h:outputText value="#{bundle.ViewItemLocationLabel_quantity}" class="header"/>
                        <h:outputText value="#{itemLocationQuery.quantity}" title="#{bundle.ViewItemLocationTitle_quantity}"/>
                    </h:panelGrid>

                </h:form>


                <c:set var="itemSystemQuery" value="#{itemSystemController.getSelecteditem(itemsController.selected.itemid)}" />
                <h:form id="itemSystem">
                    <h:panelGrid columns="2">
                        <h:outputText value="#{bundle.ViewItemSystemLabel_itemSystemPK_system}" class="header"/>
                        <h:outputText value="#{itemSystemQuery.itemSystemPK.system}" title="#{bundle.ViewItemSystemTitle_itemSystemPK_system}"/>
                        <h:outputText value="#{bundle.ViewItemSystemLabel_itemSystemPK_subSystem}" class="header"/>
                        <h:outputText value="#{itemSystemQuery.itemSystemPK.subSystem}" title="#{bundle.ViewItemSystemTitle_itemSystemPK_subSystem}"/>
                        <h:outputText value="#{bundle.ViewItemSystemLabel_itemSystemPK_itemid}" class="header"/>
                        <h:outputText value="#{itemSystemQueryitemSystemPK.itemid}" title="#{bundle.ViewItemSystemTitle_itemSystemPK_itemid}"/>
                    </h:panelGrid>
                </h:form>
            </h:panelGroup>
            <h:panelGroup rendered="#{itemsController.signInOut()==true}">
                <h:form id="transaction">
                    <h:commandLink action="#{transactionsController.saveSignInOut(itemsController.selected.itemid, userId, 
                                            itemLocationQuery.itemLocationPK.location, itemLocationQuery.itemLocationPK.sublocation, 
                                            signOut, signIn, date, comment, itemLocationQuery.quantity, itemLocationQuery, 
                                            itemLocationController.qtyFacadeHelper())}" 
                                   value="#{bundle.CreateTransactionsSaveLink}" />
                    &nbsp;&nbsp;
                    <h:commandLink action="#{transactionsController.prepareList}" value="#{bundle.ViewItemsShowAllLink}" immediate="true"/>
                    &nbsp;&nbsp;
                    <h:link outcome="/index" value="#{bundle.CreateTransactionsIndexLink}"/>
                    <h:panelGrid columns="2">
                        <h:outputText value="#{bundle.ViewItemsLabel_itemid}" class="header"/>
                        <h:outputText value="#{itemsController.selected.itemid}" title="#{bundle.ViewItemsTitle_itemid}"/>
                        <h:outputText value="#{bundle.ViewItemsLabel_itemname}" class="header"/>
                        <h:outputText value="#{itemsController.selected.itemname}" title="#{bundle.ViewItemsTitle_itemname}"/>
                        <h:outputText value="#{bundle.ViewItemLocationLabel_itemLocationPK_location}" class="header"/>
                        <h:outputText value="#{itemLocationQuery.itemLocationPK.location}" title="#{bundle.ViewItemLocationTitle_itemLocationPK_location}"/>
                        <h:outputText value="#{bundle.ViewItemLocationLabel_itemLocationPK_sublocation}" class="header"/>
                        <h:outputText value="#{itemLocationQuery.itemLocationPK.sublocation}" title="#{bundle.ViewItemLocationTitle_itemLocationPK_sublocation}"/>
                        <h:outputText value="#{bundle.ViewItemLocationLabel_quantity}" class="header"/>
                        <h:outputText value="#{itemLocationQuery.quantity}" title="#{bundle.ViewItemLocationTitle_quantity}"/>
                                            
                        <h:outputLabel value="#{bundle.CreateTransactionsLabel_userID}" for="userID" class="header"/>
                        <h:inputText  value="#{userId}" p:placeholder="Classe ID" required="true" title="#{bundle.CreateTransactionsTitle_userID}" requiredMessage="#{bundle.CreateTransactionsRequiredMessage_userID}"/>
                        <h:outputLabel value="#{bundle.CreateTransactionsLabel_signOut}" for="signOut" class="header"/>
                        <h:inputText id="signOut" value="#{signOut}" p:placeholder="Number of Items" title="#{bundle.CreateTransactionsTitle_signOut}" />
                        <h:outputLabel value="#{bundle.CreateTransactionsLabel_signIn}" for="signIn" class="header"/>
                        <h:inputText id="signIn" value="#{signIn}" p:placeholder="Number of Items" title="#{bundle.CreateTransactionsTitle_signIn}" />
                        <h:outputLabel value="#{bundle.CreateTransactionsLabel_date}" for="date" class="header"/>
                        <h:inputText id="date" value="#{date}" p:placeholder="mm/dd/yyyy" title="#{bundle.CreateTransactionsTitle_date}" >
                            />
                        </h:inputText>
                        <h:outputLabel value="#{bundle.CreateTransactionsLabel_comment}" for="comment" class="header"/>
                        <h:inputTextarea id="comment" value="#{comment}" title="#{bundle.CreateTransactionsTitle_comment}" />
                    </h:panelGrid>
                    
                   
                    
                </h:form>
            </h:panelGroup>
            
            
        </ui:define>
    </ui:composition>

</html>
