<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditSystemTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditSystemLabel_system}" for="system" />
                    <h:inputText id="system" value="#{systemController.selected.system}" title="#{bundle.EditSystemTitle_system}" required="true" requiredMessage="#{bundle.EditSystemRequiredMessage_system}"/>
                </h:panelGrid>
                <h:commandLink action="#{systemController.update}" value="#{bundle.EditSystemSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditSystemViewLink}"/>
                <br />
                <h:commandLink action="#{systemController.prepareList}" value="#{bundle.EditSystemShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditSystemIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
