<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListSystemTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                
                <!--Beginning of additional code-->
                <!--When no items are found-->
                <h:panelGroup rendered="#{systemController.items.rowCount == 0}">
                    <h:outputText escape="false" value="#{bundle.ListSystemEmpty}"/>
                    <h:commandLink action="#{systemController.backToTable()}" 
                               value="System"/>&nbsp;
                    <h:link outcome="/index" value="#{bundle.ListSystemIndexLink}" />&nbsp; 
                </h:panelGroup>
                
                
               
                <h:panelGroup rendered="#{systemController.items.rowCount > 0}">
                    <h:panelGroup rendered="#{ systemController.search()==0}">
                        <h:outputText value="#{systemController.pagination.pageFirstItem + 1}
                                      ..#{systemController.pagination.pageLastItem + 1}/
                                      #{systemController.pagination.itemsCount}"/>&nbsp;
                        <h:commandLink action="#{systemController.previous}" 
                                       value="#{bundle.Previous} #{systemController.pagination.pageSize}" 
                                       rendered="#{systemController.pagination.hasPreviousPage}"/>&nbsp;
                        <h:commandLink action="#{systemController.next}" 
                                       value="#{bundle.Next} #{systemController.pagination.pageSize}" 
                                       rendered="#{systemController.pagination.hasNextPage}"/>&nbsp; 
                    </h:panelGroup>
                    
                    
                    
                    <!--Search next previous etc-->
                    <h:panelGroup rendered="#{ systemController.search()==1}">
                        <h:outputText value="#{systemController.first()+ 1}..
                                      #{systemController.last()}/
                                      #{systemController.listLength()}"/>&nbsp;
                        <h:commandLink action="#{systemController.previousSearchItems()}" 
                                       value="#{bundle.Previous} #{systemController.pagination.pageSize}" 
                                       rendered="#{systemController.searchHasPrevious()}"/>&nbsp;
                        <h:commandLink action="#{systemController.nextSearchItems()}" 
                                       value="#{bundle.Next} #{systemController.pagination.pageSize}" 
                                       rendered="#{systemController.searchHasNext()}"/>&nbsp; 
                    </h:panelGroup>
                    <h:commandLink action="#{systemController.prepareCreate}" 
                                   value="#{bundle.ListSystemCreateLink}" 
                                   rendered="#{systemController.isAdmin() == true}"/>&nbsp; 
           
                                 &nbsp; 
                    <h:commandLink action="#{systemController.backToTable()}" 
                                   value="System" />&nbsp; 
                    <h:link outcome="/index" value="#{bundle.ListSystemIndexLink}" />&nbsp;
                    
                
                <br></br>
                <!--SEARCH-->
                
                <br>
                    <h:inputText value="#{system}" size="20" p:placeholder="System" 
                                 styleClass="search"/> &nbsp;
                    
                    
                    
                    
                    <h:commandButton value="Search" 
                                     action="#{systemController.basicSearch(
                                               system)}"  
                                               styleClass="searchButton"/> 
                </br>
                
                <!--End of additional code-->
                
                
                
                    
                
                
                    <h:dataTable value="#{systemController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSystemTitle_system}"/>
                            </f:facet>
                            <h:outputText value="#{item.system}"/>
                        </h:column>
                        <h:column rendered="#{systemController.isAdmin() == true}">
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{systemController.prepareView}" value="#{bundle.ListSystemViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{systemController.prepareEdit}" value="#{bundle.ListSystemEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{systemController.destroy}" value="#{bundle.ListSystemDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
