<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewSystemTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewSystemLabel_system}"/>
                    <h:outputText value="#{systemController.selected.system}" title="#{bundle.ViewSystemTitle_system}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{systemController.destroyAndView}" value="#{bundle.ViewSystemDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewSystemEditLink}"/>
                <br />
                <h:commandLink action="#{systemController.prepareCreate}" value="#{bundle.ViewSystemCreateLink}" />
                <br />
                <h:commandLink action="#{systemController.prepareList}" value="#{bundle.ViewSystemShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewSystemIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
