<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditDtpropertiesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditDtpropertiesLabel_dtpropertiesPK_id}" for="dtpropertiesPK_id" />
                    <h:inputText id="dtpropertiesPK_id" value="#{dtpropertiesController.selected.dtpropertiesPK.id}" title="#{bundle.EditDtpropertiesTitle_dtpropertiesPK_id}" required="true" requiredMessage="#{bundle.EditDtpropertiesRequiredMessage_dtpropertiesPK_id}"/>
                    <h:outputLabel value="#{bundle.EditDtpropertiesLabel_dtpropertiesPK_property}" for="dtpropertiesPK_property" />
                    <h:inputText id="dtpropertiesPK_property" value="#{dtpropertiesController.selected.dtpropertiesPK.property}" title="#{bundle.EditDtpropertiesTitle_dtpropertiesPK_property}" required="true" requiredMessage="#{bundle.EditDtpropertiesRequiredMessage_dtpropertiesPK_property}"/>
                    <h:outputLabel value="#{bundle.EditDtpropertiesLabel_objectid}" for="objectid" />
                    <h:inputText id="objectid" value="#{dtpropertiesController.selected.objectid}" title="#{bundle.EditDtpropertiesTitle_objectid}" />
                    <h:outputLabel value="#{bundle.EditDtpropertiesLabel_value}" for="value" />
                    <h:inputText id="value" value="#{dtpropertiesController.selected.value}" title="#{bundle.EditDtpropertiesTitle_value}" />
                    <h:outputLabel value="#{bundle.EditDtpropertiesLabel_lvalue}" for="lvalue" />
                    <h:inputTextarea rows="4" cols="30" id="lvalue" value="#{dtpropertiesController.selected.lvalue}" title="#{bundle.EditDtpropertiesTitle_lvalue}" />
                    <h:outputLabel value="#{bundle.EditDtpropertiesLabel_version}" for="version" />
                    <h:inputText id="version" value="#{dtpropertiesController.selected.version}" title="#{bundle.EditDtpropertiesTitle_version}" required="true" requiredMessage="#{bundle.EditDtpropertiesRequiredMessage_version}"/>
                    <h:outputLabel value="#{bundle.EditDtpropertiesLabel_uvalue}" for="uvalue" />
                    <h:inputText id="uvalue" value="#{dtpropertiesController.selected.uvalue}" title="#{bundle.EditDtpropertiesTitle_uvalue}" />
                </h:panelGrid>
                <h:commandLink action="#{dtpropertiesController.update}" value="#{bundle.EditDtpropertiesSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditDtpropertiesViewLink}"/>
                <br />
                <h:commandLink action="#{dtpropertiesController.prepareList}" value="#{bundle.EditDtpropertiesShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditDtpropertiesIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
