<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditLocationsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditLocationsLabel_locationID}" for="locationID" />
                    <h:inputText id="locationID" value="#{locationsController.selected.locationID}" title="#{bundle.EditLocationsTitle_locationID}" required="true" requiredMessage="#{bundle.EditLocationsRequiredMessage_locationID}"/>
                    <h:outputLabel value="#{bundle.EditLocationsLabel_building}" for="building" />
                    <h:inputText id="building" value="#{locationsController.selected.building}" title="#{bundle.EditLocationsTitle_building}" />
                    <h:outputLabel value="#{bundle.EditLocationsLabel_locDescription}" for="locDescription" />
                    <h:inputText id="locDescription" value="#{locationsController.selected.locDescription}" title="#{bundle.EditLocationsTitle_locDescription}" />
                    <h:outputLabel value="#{bundle.EditLocationsLabel_contactGroup}" for="contactGroup" />
                    <h:inputText id="contactGroup" value="#{locationsController.selected.contactGroup}" title="#{bundle.EditLocationsTitle_contactGroup}" />
                    <h:outputLabel value="#{bundle.EditLocationsLabel_phoneNr}" for="phoneNr" />
                    <h:inputText id="phoneNr" value="#{locationsController.selected.phoneNr}" title="#{bundle.EditLocationsTitle_phoneNr}" />
                </h:panelGrid>
                <h:commandLink action="#{locationsController.update}" value="#{bundle.EditLocationsSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditLocationsViewLink}"/>
                <br />
                <h:commandLink action="#{locationsController.prepareList}" value="#{bundle.EditLocationsShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditLocationsIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
