<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListLocationsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                    
                <!--Beginning of additional code-->
                <!--When no items are found-->
                <h:panelGroup rendered="#{locationsController.items.rowCount == 0}">
                    <h:outputText escape="false" value="#{bundle.ListLocationsEmpty}"/>
                    <h:commandLink action="#{locationsController.backToTable()}" 
                               value="Locations"/>&nbsp;
                    <h:link outcome="/index" value="#{bundle.ListLocationsIndexLink}" />&nbsp; 
                </h:panelGroup>
                
                
               
                <h:panelGroup rendered="#{locationsController.items.rowCount > 0}">
                    <h:panelGroup rendered="#{ locationsController.search()==0}">
                        <h:outputText value="#{locationsController.pagination.pageFirstItem + 1}
                                      ..#{locationsController.pagination.pageLastItem + 1}/
                                      #{locationsController.pagination.itemsCount}"/>&nbsp;
                        <h:commandLink action="#{locationsController.previous}" 
                                       value="#{bundle.Previous} #{locationsController.pagination.pageSize}" 
                                       rendered="#{locationsController.pagination.hasPreviousPage}"/>&nbsp;
                        <h:commandLink action="#{locationsController.next}" 
                                       value="#{bundle.Next} #{locationsController.pagination.pageSize}" 
                                       rendered="#{locationsController.pagination.hasNextPage}"/>&nbsp; 
                    </h:panelGroup>
                    
                    
                    
                    <!--Search next previous etc-->
                    <h:panelGroup rendered="#{ locationsController.search()==1}">
                        <h:outputText value="#{locationsController.first()+ 1}..
                                      #{locationsController.last()}/
                                      #{locationsController.listLength()}"/>&nbsp;
                        <h:commandLink action="#{locationsController.previousSearchItems()}" 
                                       value="#{bundle.Previous} #{locationsController.pagination.pageSize}" 
                                       rendered="#{locationsController.searchHasPrevious()}"/>&nbsp;
                        <h:commandLink action="#{locationsController.nextSearchItems()}" 
                                       value="#{bundle.Next} #{locationsController.pagination.pageSize}" 
                                       rendered="#{locationsController.searchHasNext()}"/>&nbsp; 
                    </h:panelGroup>
                    <h:commandLink action="#{locationsController.prepareCreate}" 
                                   value="#{bundle.ListLocationsCreateLink}" 
                                   rendered="#{locationsController.isAdmin() == true}"/>&nbsp; 
           
                                 &nbsp; 
                    <h:commandLink action="#{locationsController.backToTable()}" 
                                   value="Locations" />&nbsp; 
                    <h:link outcome="/index" value="#{bundle.ListLocationsIndexLink}" />&nbsp;
                    
                
                <br></br>
                <!--SEARCH-->
                
                <br>
                    <h:inputText value="#{locationid}" size="15" p:placeholder="Location ID" 
                                 styleClass="search"/> &nbsp;
                    
                    <h:inputText value="#{building}" size="15" p:placeholder="Building" 
                                 styleClass="search"/>&nbsp;&nbsp;
                    <h:inputText value="#{locdescription}" size="15" p:placeholder="Locdescription" 
                                 styleClass="search"/>&nbsp;
                    <h:inputText value="#{contactgroup}" size="15" p:placeholder="Contact Group" 
                                 styleClass="search"/>&nbsp;
                    <h:inputText value="#{phonenr}" size="15" p:placeholder="Phone Number" 
                                 styleClass="search"/>&nbsp;
                    
                    
                    <h:commandButton value="Search" 
                                     action="#{locationsController.basicSearch(
                                               locationid, building, locdescription, 
                                               contactgroup, phonenr)}"  
                                               styleClass="searchButton"/> 
                </br>
                
                <!--End of additional code-->
                
                
                
                    
                
                    <h:dataTable value="#{locationsController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLocationsTitle_locationID}"/>
                            </f:facet>
                            <h:outputText value="#{item.locationID}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLocationsTitle_building}"/>
                            </f:facet>
                            <h:outputText value="#{item.building}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLocationsTitle_locDescription}"/>
                            </f:facet>
                            <h:outputText value="#{item.locDescription}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLocationsTitle_contactGroup}"/>
                            </f:facet>
                            <h:outputText value="#{item.contactGroup}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLocationsTitle_phoneNr}"/>
                            </f:facet>
                            <h:outputText value="#{item.phoneNr}"/>
                        </h:column>
                        <h:column rendered="#{locationsController.isAdmin() == true}">
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{locationsController.prepareView}" value="#{bundle.ListLocationsViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{locationsController.prepareEdit}" value="#{bundle.ListLocationsEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{locationsController.destroy}" value="#{bundle.ListLocationsDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
