<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Cesr Spare Part Database</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
        
    </h:head>
    <table align="center" id="cesr">
        <h:body>
            
        <tr><th>Cesr Spare Parts Database</th></tr>
        
        <tr>
                <td>
                    <h:link outcome="/dtproperties/List" value="Dtproperties"/>
                </td>
            </tr>
             <tr>
                 <td onclick="/itemLocation/List">
                     <h:link outcome="/itemLocation/List" value="Item Location"/> 
                 </td>
             </tr>
             <tr>
                 <td><h:link outcome="/itemSystem/List" value="Item System"/> </td>
             </tr>
             <tr>
                 <td><h:link outcome="/items/List" value="Items"/></td>
             </tr>
             <tr>
                 <td><h:link outcome="/locations/List" value="Locations"/> </td>
             </tr>
             <tr>
                 <td><h:link outcome="/system/List" value="Systems"/> </td>
             </tr>
             <tr>
                 <td><h:link outcome="/transactions/List" value="Transactions"/> </td>
             </tr> 
        </h:body>
        </table>
</html>

